.music-player{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    margin-top:30px;
}

#playButton{
    background:#ff2b2b;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:50px;
    cursor:pointer;
    transition:.25s;
}

#playButton:hover{
    transform:scale(1.05);
}

.youtube-button{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#ff0000;
    display:flex;
    justify-content:center;
    align-items:center;
}

.youtube-button img{
    filter:invert(1);
}
